<!DOCTYPE html>
<html lang="en">


<head>
  <title>MD - Markdown word processor</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="css/mddoc.css">
</head>

<body>
  <div id="app">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">MD</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#" v-on:click="newClicked">New</a>
          <a class="nav-item nav-link" href="#" v-on:click="loadClicked">Load</a>
        </div>
      </div>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" v-model="docName" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="button" v-on:click="saveClicked">Save</button>
      </form>
    </nav>

    <div class="container-fluid">
      <div class="alert alert-secondary" role="alert" v-show="docList.length > 0">
        <button type="button" v-on:click="dismissDocListClicked" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <table>
          <tr v-for="doc in docList">
            <td><button class="btn" v-on:click="loadDoc(doc)">{{ doc.doc_name }}</button></td>
            <td><button class="btn btn-danger">Delete</button></td>
          </tr>
        </table>
      </div>

      <div id="jumbo" class="jumbotron" v-show="showJumbo">
        <img src="img/md.png" class="pull-right img-responsive">
        <h1>MD</h1>
        <p class="lead">An offline-first, Markdown wordprocessor</p>
        <ul>
          <li>write documents in Markdown, see it rendered as you type</li>
          <li>store your work locally using PouchDB</li>
          <li>continue working with or without an internet connection</li>
          <li>sync to the cloud - CouchDB or Cloudant</li>
        </ul>
        <p class="clearfix"></p>
      </div>

      <div id="thedoc" class="row" v-show="!showJumbo">
        <div id="leftcol" class="col-sm">
          <textarea id="themarkdown" class="hidden-print" v-model="markdown"></textarea></div>
        <div id="rightcol" class="col-sm" v-show="showPreview">
          <div id="rendered" v-html="convertedMarkdown"></div>
        </div>
      </div>

    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/showdown@1.9.0/dist/showdown.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/pouchdb@7.1.1/dist/pouchdb.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/uuid.js"></script>
  <script src="js/mddoc.js"></script>
</body>

</html>