title MD - Markdown word processor
meta(charset="utf-8")
meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
meta(http-equiv="X-UA-Compatible",content="IE=edge")
script(src="//code.jquery.com/jquery-1.11.2.min.js")
script(src="//code.jquery.com/ui/1.11.2/jquery-ui.js")
link(rel="stylesheet",href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css",media="all")
link(rel="stylesheet",href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css")
script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
script(src="/js/markdown.js")
script(src="/js/pouchdb-3.2.1.min.js")
script(src="/js/uuid.js")
script(src="/js/moment.js")
link(rel="shortcut icon",href="/favicon.ico")