doctype html
html(lang="en",manifest="md.appcache")
head
  include head.jade
  script(src="/js/mddoc.js")
  link(rel="stylesheet",href="/css/mddoc.css")
body
  include nav.jade

  div.container
    div.header
      div#alerts
        
    div.row
      div.col-lg-6 
        textarea#themarkdown.hidden-print(oninput="markdownChanged()").
          
      div.col-lg-6 
        div#rendered
        
    div#loadmodal.modal.fade
      div.modal-dialog
        div.modal-content
          div.modal-header
            button.close(type="button",data-dismiss="modal",aria-label="Close") 
              span(aria-hidden="true")
            h4.modal-title My Documents
          div.modal-body
            table#mydocuments.table
          div.modal-footer
            button.btn.btn-default(type="button",data-dismiss="modal") Close
            
    div#settingsmodal.modal.fade
      div.modal-dialog
        div.modal-content
          div.modal-header
            button.close(type="button",data-dismiss="modal",aria-label="Close") 
              span(aria-hidden="true")
            h4.modal-title Settings
          div.modal-body
            p If you would like your documents backed up to Cloudant, then simply add the URL of read/writable database in the form below.
            ul
              li Sign-up for a Cloudant account
              li Create a new database 
              li In the permissions tab, generate a new api key
              li Make the generated api have "reader" & writer access
              li Enable CORS access
              li Construct the url: https://APIKEY:PASSWORD@HOSTNAME.cloudant.com/DATABASE_NAME
            form.form(onsubmit="return settingsSubmit()")
              div.form-group
                input#cloudanturl.form-control.myctrl(type="url",placeholder="cloudant url")
              button.myctrl.btn.btn-danger(type="submit") Save
          div.modal-footer
            button.btn.btn-default(type="button",data-dismiss="modal") Close
